<%= form_for @item do |f| %>

  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %> 
    <%= f.text_area :description %>
  </div>

  <div class='field'>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class='field'>
    <%= f.label :photo %>
    <%= f.text_field :remote_photo_url %>
  </div>

  <div class='field'>
    <%= f.submit %>
  </div>
  
<% end %>