
<h1>My Items</h1>

<ul>
<% @auth.items.each do |item| %>
    <li><%= item.name %></li> | <%= link_to 'View', item %> | <%= link_to 'Edit', edit_item_path(item) %> |  <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure you want to delet your item?' } %>
<% end %>
</ul>
<br />

<h1>All Available Items</h1>
<ul>
<% @items.each do |item| %>
    <li><%= item.name %></li>
    <li><%= item.description %></li> 
<% end %>
</ul> 
<br />

<%= link_to 'New Item', new_item_path %>